section(id="brand-tires" class="brand-tires")
    div(class="brand-tires__content") 
        h1(class="brand-tires__heading") Шины Michelin
        p(class="brand-tires__text") Название марки Michelin - это настоящий синоним слова "инновация". За всю свою более чем столетнюю историю эта компания не переставала удивлять мир новинками. Список изобретений, сделанных данной фирмой, поистине огромен. Именно они придумали съемные велосипединые шины и шины низкого давления для автомобилей. Резина Michelin (Мишлен) популярна во всех странах мира и в наши дни - в первую очередь, за свое превосходное качество и высокую надежность. Существуют разные виды продукции этого бренда - летние шины, зимние, грузовые, для легковых автомобилей и многие другие. Купить шины Мишлен (Michelin) по выгодной цене и почитать отзывы от других водителей можно на страницах нашего интернет-магазина.
        p() У нас Вы можете приобрести шины Michelin (Мишлен) оптом и в розницу. Наша логистика позволяет оперативно доставить шины в любой регион РФ. По вопросам оптовых поставок шин Michelin обращаться по тел. +7(918)855-65-11 с 10 до 18 (МСК)Все
    img(src="./imgs/tires/brand-tires.jpg" class="brand-tires__img") 