header(class="header")
    div(class="container__content")
        div(class="header__content")
            a(href="./index.html")
                img(src="./imgs/logo/logo.png")
            div(class="address")
                svg(width="16" height="22" viewBox="0 0 16 22")
                    use(xlink:href="./imgs/icons/sprites.svg#address_header")
                div(class="address__select-wrapper")
                    select(class="address__select")
                        option() г. Ростов-на-Дону
            div(class="phone")
                a(class="phone__link" href="tel:+78633032825") <svg width="16" height="22" viewBox="0 0 16 22"> <use xlink:href="./imgs/icons/sprites.svg#phone_header"></use></svg>
                    div(class="phone__number") +7 (863) <span class="phone__number-style">303-28-25</span>
            nav(class="nav")
                ul(class="nav__user")
                    li(class="nav__user-item login")
                        a(class="nav__link") <span class="nav__user-text"> Вход </span>
                    li(class="nav__user-item reg")
                        a(class="nav__link") <a href="./registration.html" class="nav__user-text"> регистрация </a>
                    li(class="nav__user-item user-name" style="display:none;")
                        a(class="nav__link") <svg width="21" height="24" viewBox="0 0 21 24"> <use xlink:href="./imgs/sprites.svg#user"></use></svg> <span class="nav__user-name nav__user-text"> Сергей</span>
                    li(class="nav__user-item user-edit" style="display:none;") 
                        a(class="nav__link") <span class="nav__user-text"> ред.профиль </span>
                    li(class="nav__user-item exit" style="display:none;") 
                        a(class="nav__link") <span class="nav__user-text"> выход </span>
                div(class="nav__cart")
                    a(href="./cart.html" class="nav__cart")
                        div(class="nav__cart-icon nav__cart-icon") 3
                        div(class="nav__cart-heading") Корзина
                    a(href="./personal-orders.html" class="nav__orders")
                        div(class="nav__orders-icon nav__cart-icon") 3
                        div(class="nav__cart-heading") Заказы
