form(class="modal-login")
    div(class="modal-form__window")
        div(class="modal-form__heading") Вход
        div(class="modal-login__content")
            div(class="modal-form__inputs")
                div(class="form__item")
                    label(class="form__label") Имя:
                    input(class="form__input")
                div(class="form__item")
                    label(class="form__label") Телефон:
                    input(class="form__input")
            input( type="checkbox" id="checkbox-remember" class="checkbox-remember" checked)
            label(for="checkbox-remember" class="checkbox-remember__label") Запомнить меня
            button(class="btn") Войти
            div(class="modal-login__links")
                a(class="modal-login__link") Регистрация
                a(class="modal-login__link") Забыли пароль?