section(class="slider")
    a(href="#brand-tires" class="btn btn-slider") Подробнее
    ul(class="slider__breadcrumbs")
        li(class="slider__breadcrumbs-item active")
        li(class="slider__breadcrumbs-item")
        li(class="slider__breadcrumbs-item")
    ul(class="slider__list")
        li(class="slider__item")
        li(class="slider__item")
        li(class="slider__item")