.footer {
  width: 100%;
  background: #fff;
  &__content {
    display: flex;
    padding: 2.875rem 0 0 1rem;
    justify-content: space-between;
    align-items: center;
    @include phones{
      padding: 2.875rem 1rem;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__tires-type {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #27509b;
    margin-bottom: 1rem;
  }
  &__tires-link {
    color: #27509b;
  }
  &__contacts-item {
    margin-bottom: 1rem;
  }
  &__socials {
    display: flex;
    &-item {
      margin-right: 2.3rem;
    }
  }
  &__copyright {
    max-width: 18rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    color: #27509b;
    margin-top: 2rem;
  }
}
