
.search {
  width: 100%;
  margin-top: 1.875rem;
  &__header {
    display: flex;
    align-items: center;
    @include tablets{
      width: 100%;
    }
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    background: #fff;
    align-items: center;
    padding-right: 2.75rem;
    @include tablets {
      flex-direction: column;
      padding: 0 0 2rem 0;
    }
  }
  &__select-list {
    display: flex;
    flex-wrap: wrap;
    @include tablets {
      padding: 2rem;
      justify-content: center;
    }
  }
  &__heading {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #000000;
    max-width: 10rem;
    margin-right: 2rem;
    margin-left: 1rem;
    @include tablets{
      margin: 0;
    }
  }
  &__img {
    max-width:13.875rem;
    @include tablets {
      width: 40%;
      max-width:auto;
    }
    @include phones{
      width: 48%;
      max-width:auto;
    }
  }
  &__label {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 16px;
    color: #27509b;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    @include tablets {
      flex-wrap: wrap;
      margin-top: 2rem;
    }
    &-item {
      color: #c4c4c4;
      margin-right: 0.3rem;
    }
    &--active {
      color: black;
      font-weight: bold;
    }
  }
  &__select-item {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  &__select-auto{
    margin-left: 1rem;
  }
  &__input-auto {
    border: 0;
    outline: none;
    background: #f2f7ff;
    border-radius: 0.3125rem;
    line-height: 1.7rem;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.7rem;
    padding-left: 1rem;
  }
  &__result {
    width: 100%;
    &-header {
      display: flex;
      justify-content: space-between;
      margin: 3.2rem 0;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
    }
    &-btn {
      padding: 1rem 0.7rem;
      @include tablets {
        margin-top: 1rem;
      }
    }
    &-name {
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      color: #000000;
      cursor: pointer;
    }
    &-price {
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      font-size: 1.25rem;
      color: #333333;
      margin: 0.4rem 0;
    }
    &-btns {
      display: flex;
      justify-content: space-between;
      @include tablets {
        flex-direction: column;
        align-items: center;
      }
    }
    &-address {
      font-family: "Noto Sans", sans-serif;
      font-weight: normal;
      font-size: 0.75rem;
      color: #000;
      margin-bottom: 0.75rem;
    }
    &-item {
      background: #fff;
      border-radius: 0.2rem;
      max-width: 17.3125rem;
      width: 100%;
      margin-right: 1rem;
      margin-bottom: 1.25rem;
      display: flex;
      flex-direction: column;
    }
    &-content {
      padding: 1.125rem 1.25rem;
    }
    &-heading {
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      font-size: 1.25rem;
      color: #000;
    }
    &-sorting {
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      font-size: 0.75rem;
      color: #000;
      display: flex;
      align-items: center;
      @include tablets {
        flex-direction: column;
      }
    }
    &-select {
      padding: 0 2rem 0 0.675rem;
      background: #FFDD00;
    }
    &-style {
      margin-right: 0.5rem;
      @include tablets {
        margin: 0 0 1rem 0;
      }
    }
  }
}
