@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/NotoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}
.calculator {
  display: flex;
  align-items: center;
  &__price {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #ffdd00;
    margin-right: 3.375rem;
    @include tablets {
      margin-right: 1rem;
    }
  }
  &__vars {
    display: flex;
    background: #f2f7ff;
    padding: 0.5rem 0 0.5rem 1rem;
    border-radius: 0.3125rem;
    &-item {
      cursor: pointer;
      margin-right: 1rem;
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      font-size: 0.75rem;
      color: #333333;
    }
  }
}
.form {
  width: 100%;
  &__label {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 16px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
    @include phones {
      flex-direction: column;
    }
  }
  &__part {
    width: 100%;
    max-width: 21rem;
    margin-right: 2rem;
  }

  &__textarea {
    resize: none;
    min-height: 5rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  &__input {
    border: 0;
    outline: none;
    appearance: none;
    border-radius: 0.3125rem;
    background: #f2f7ff;
    font-family: "Noto Sans", sans-serif;
    padding: 0.4rem;
    width: 100%;
  }
  &__select {
    width: 100%;
    min-width: 6.5rem;
    appearance: none;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #f2f7ff;
    border-radius: 0.3125rem;
    line-height: 1.7rem;
    &-wrapper {
      width: 100%;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        display: block;
        background: url(./imgs/icons/select-search.svg) no-repeat;
        pointer-events: none;
        width: 1rem;
        right: 0.2rem;
        height: 1rem;
        bottom: 20%;
      }
    }
  }
}
.checkbox-remember {
  display: none;
  &__label {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    color: #000;
    margin: 1.5rem 0 2.5rem 0;
    display: flex;
    align-items: center;
    @include tablets {
      flex-wrap: wrap;
    }
    &::before {
      content: "";
      display: block;
      width: 0.675rem;
      height: 0.675rem;
      border-radius: 50%;
      border: 0.3125rem solid #f2f7ff;
      background: #fff;
      margin-right: 1rem;
      .checkbox-remember:checked + & {
        background: #000;
      }
    }
  }
}
.btn {
  background: #fce500;
  box-shadow: 0.625rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.25);
  border-radius: 0.1875rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  color: #333333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  border: transparent 0.125rem solid;
  &:active {
    animation: scaleBtn 0.4s ease-out;
    border: rgba(0, 0, 0, 0.25) 0.125rem solid;
  }
  &-slider:active {
    animation: none;
    border: transparent 0.125rem solid;
  }
}
.pulse {
  background-color: #fff;
  border-radius: 50%;
  animation: pulse 0.5s ease-out;
  transform: scale(0);
  position: absolute;
}
@keyframes pulse {
  to {
    transform: scale(2);
    background-color: #fff;
    opacity: 0;
  }
}
@keyframes scaleBtn {
  to {
    transform: scale(0.9);
  }
}
@import "normalize";
@import "base";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/overlays.scss";
@import "./blocks/slider.scss";
@import "./blocks/michelin-tires.scss";
@import "model";
@import "brand";
@import "companies";
@import "result-model";
@import "index";
@import "orders"; 
@import "checkout";
@import "basket";
@import "registration";
