.header {
  width: 100%;
  background: #fff;
  padding: 0.675rem;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#000;
    & .address {
      @include tablets {
        display: none;
      }
    }
    & .phone__number {
      @include phones {
        display: none;
      }
      
    }
    & .phone{
      @include tablets{
        margin-right: 1rem;
      }
    }
    @include tablets {
      flex-wrap: wrap;
    }
  }
}
.mail__address {
  margin-left: 1rem;
}
.phone__number {
  margin-left: 1rem;
  color:inherit;
  &-style {
    font-weight: 700;
  }
}
.phone__link, .mail__link {
    display: flex;
    align-items: center;
    color:inherit;
  } 
.address__select {
  padding: 0 2rem 0 1rem;
  appearance: none;
  border: 0;
  outline: none;
  position: relative;
  width: 100%;
  color:inherit;
  cursor: pointer;
  &-wrapper {
    position: relative;
    color:inherit;
    &::after {
      position: absolute;
      content: "";
      display: block;
      background: url(./imgs/icons/select-address.svg) no-repeat;
      pointer-events: none;
      width: 10px;
      right: 0;
      height: 6px;
      top: 40%;
    }
  }
}
.phone,
.mail,
.address {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  color:inherit;
}
.authorized {
  & .login,
  & .reg {
    display: none;
  }
  & .user-name,
  & .user-edit,
  & .exit {
    display: flex !important;
  }
}
.exit .nav__user-text,
.reg .nav__user-text {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
.nav {
  display: flex;
  flex-direction: column;
  @include tablets{
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    margin-top: 0.7rem;
    align-items: center;
  }
  &__user {
    display: flex;
    margin-bottom: 0.5rem;
    @include tablets{
      margin: 0;
      flex-wrap: wrap;
    }
    &-name {
      margin-left: 0.75rem;
    }
    &-text {
      margin-right: 0.75rem;
      padding-right: 0.75rem;
      border-right: 1px solid black;
    }
    &-item {
      align-items: center;
      font-family: "Noto Sans", sans-serif;
      font-weight: normal;
      font-size: 0.75rem;
      text-decoration-line: underline;
      color: #333333;
      cursor: pointer;
    }
  }
  &__cart {
    display: flex;
    &-heading {
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      font-size: 0.75rem;
      text-transform: uppercase;
      color: #333333;
    }
    &-icon {
      background: #f2f7ff;
      border-radius: 50%;
      width: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.5rem;
      font-family: "Noto Sans", sans-serif;
      font-weight: 700;
      font-size: 0.75rem;
      color: #000000;
      margin-right: 0.75rem;
      @include tablets{
        margin-right: 0.15rem;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__cart {
    display: flex;
    align-items: center;
  }
  &__orders {
    display: flex;
    align-items: center;
    margin-left: 1.875rem;
    @include tablets{
      margin-left: 0.5rem;
    }
  }
}
