.michelin-tires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.125rem;
    @include tablets {
      flex-direction: column;
    }
    &__content {
      font-family: "Noto Sans", sans-serif;
      font-weight: normal;
      font-size: 0.875rem;
      color: #000000;
      margin-right: 3.75rem;
      @include tablets {
        margin: 0;
      }
    }
    &__text {
      margin-bottom: 2.5rem;
    }
    &__heading {
      font-family: "Noto Sans", sans-serif;
      font-weight: bold;
      font-size: 1.875rem;
      color: #000000;
      margin-bottom: 2.8rem;
    }
    &__img {
      box-shadow: 0.625rem 0.625rem 0.3125rem rgba(0, 0, 0, 0.25);
      border-radius: 0.1875rem;
      width: 50%;
      @include tablets {
        width: auto;
        margin-top: 2rem;
        height: 18rem;
      }
      @include phones{
        width: 100%;
        height: auto;
      }
    }
  }