doctype html
html(lang="en")
    head
        title Home
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./main.min.css" type="text/css" rel="stylesheet")
    body
        div(class="wrapper")
            include ./blocks/header.pug
            div(class="container")
                main(class="container__content")
                    div(class="brand")
                        h1(class="brand__heading") Michelin
                        div(class="brand__content")
                            img(src="./imgs/logo/logo.png" class="brand__img")
                            div(class="brand__text") Название марки Michelin - это настоящий синоним слова "инновация". За всю свою более чем столетнюю историю эта компания не переставала удивлять мир новинками. Список изобретений, сделанных данной фирмой, поистине огромен. Именно они придумали съемные велосипединые шины и шины низкого давления для автомобилей. Резина Michelin (Мишлен) популярна во всех странах мира и в наши дни - в первую очередь, за свое превосходное качество и высокую надежность. Существуют разные виды продукции этого бренда - летние шины, зимние, грузовые, для легковых автомобилей и многие другие. Купить шины Мишлен (Michelin) по выгодной цене и почитать отзывы от других водителей можно на страницах нашего интернет-магазина.
                                p(class="brand__text-par") У нас Вы можете приобрести шины Michelin (Мишлен) оптом и в розницу. Наша логистика позволяет оперативно доставить шины в любой регион РФ. По вопросам оптовых поставок шин Michelin обращаться по тел. +7(918)855-65-11 с 10 до 18 (МСК)
                    ul(class="filter")
                        li(class="filter__item")
                            svg(width="27" height="22" viewBox="0 0 27 22")
                                use(xlink:href="./imgs/icons/sprites.svg#filter_all")
                            span(class="filter__name") ВСЕ Модели (56)
                        li(class="filter__item active")
                            svg(width="27" height="27" viewBox="0 0 27 27")
                                use(xlink:href="./imgs/icons/sprites.svg#filter_winter")
                            span(class="filter__name") ЗИМНИЕ (34)
                        li(class="filter__item")
                            svg(width="27" height="27" viewBox="0 0 27 27")
                                use(xlink:href="./imgs/icons/sprites.svg#filter_summer")
                            span(class="filter__name") ЛЕТНИЕ (17)
                        li(class="filter__item")
                            svg(width="27" height="27" viewBox="0 0 27 27")
                                use(xlink:href="./imgs/icons/sprites.svg#filter_studded")
                            span(class="filter__name") ШИПОВАННЫЕ (23)
                        li(class="filter__item")
                            svg(width="27" height="28" viewBox="0 0 27 28")
                                use(xlink:href="./imgs/icons/sprites.svg#filter_insole")
                            span(class="filter__name") ВСЕСЕЗОННЫЕ (42)
                    ul(class="filter__result")
                        li(class="filter__result-item")
                            div(class="filter__result-header")  
                                img(src="./imgs/tires/filter-result.png")
                                h3(class="filter__result-heading") Michelin X-Ice XI3 (68)
                            div(class="filter__result-about")
                                div(class="filter__result-types")
                                    div(class="filter__result-type")
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_winter")
                                        span(class="filter__result-text") Зимние   
                                    div(class="filter__result-type")        
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_studded")
                                        span(class="filter__result-text")  Шипованые
                                p() R16   R17   R18    R19   R20   R21   R22
                            img(class="filter__result-logo" src="./imgs/logo/logo.png")
                            a(class="btn" href="./search-model.html") подробнее
                        li(class="filter__result-item")
                            div(class="filter__result-header")  
                                img(src="./imgs/tires/filter-result.png")
                                h3(class="filter__result-heading") Michelin X-Ice XI3 (68)
                            div(class="filter__result-about")
                                div(class="filter__result-types")
                                    div(class="filter__result-type")
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_winter")
                                        span(class="filter__result-text") Зимние   
                                    div(class="filter__result-type")        
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_studded")
                                        span(class="filter__result-text")  Шипованые
                                p() R16   R17   R18    R19   R20   R21   R22
                            img(class="filter__result-logo" src="./imgs/logo/logo.png")
                            a(class="btn" href="./search-model.html") подробнее
                        li(class="filter__result-item")
                            div(class="filter__result-header")  
                                img(src="./imgs/tires/filter-result.png")
                                h3(class="filter__result-heading") Michelin X-Ice XI3 (68)
                            div(class="filter__result-about")
                                div(class="filter__result-types")
                                    div(class="filter__result-type")
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_winter")
                                        span(class="filter__result-text") Зимние   
                                    div(class="filter__result-type")        
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_studded")
                                        span(class="filter__result-text")  Шипованые
                                p() R16   R17   R18    R19   R20   R21   R22
                            img(class="filter__result-logo" src="./imgs/logo/logo.png")
                            a(class="btn" href="./search-model.html") подробнее
                        li(class="filter__result-item")
                            div(class="filter__result-header")  
                                img(src="./imgs/tires/filter-result.png")
                                h3(class="filter__result-heading") Michelin X-Ice XI3 (68)
                            div(class="filter__result-about")
                                div(class="filter__result-types")
                                    div(class="filter__result-type")
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_winter")
                                        span(class="filter__result-text") Зимние   
                                    div(class="filter__result-type")        
                                        svg(width="17" height="17" viewBox="0 0 27 27")
                                            use(xlink:href="./imgs/icons/sprites.svg#filter_studded")
                                        span(class="filter__result-text")  Шипованые
                                p() R16   R17   R18    R19   R20   R21   R22
                            img(class="filter__result-logo" src="./imgs/logo/logo.png")
                            a(class="btn" href="./search-model.html") подробнее
                    include ./blocks/slider.pug
                    include ./blocks/michelin-tires.pug
            include ./blocks/footer.pug
        include ./blocks/overlay-login.pug
        script(src="./main.min.js" type="text/javascript")