doctype html
html(lang="en")
    head
        title Модель
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./styles.min.css" type="text/css" rel="stylesheet")
    body
        div(class="wrapper")
            include ./blocks/header.pug
            div(class="container")
                main(class="container__content")
                    div(class="tires-model")
                        div(class="tires-model__item" itemscope itemtype="http://schema.org/Product")
                            meta(itemprop="name" content="Michelin tires")
                            meta(itemprop="description" content="Зимние шины Michelin X-Ice North 4 195/65 R15 95T XL")
                            img(class="tires-model__img" src="./imgs/tires/model-tires.png" itemprop="image" alt="Michelin X-Ice")
                            div(class="tires-model__content" itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                                link(itemprop="url" href="https://manifetko.github.io/dist/tires-model.html")
                                h1(class="tires-model__heading" itemprop="name") Зимние шины Michelin X-Ice North 4 195/65 R15 95T XL
                                div(class="tires-model__price") 
                                    span(itemprop="price") 5 640 руб.
                                    meta(itemprop="priceCurrency" content="RUB")
                                    div(class="tires-model__btns")
                                        a(class="btn tires-model-btn btn__fast-bay") купить сразу
                                        a(class="btn tires-model-btn ") в корзину
                                div(class="tires-model__text")
                                    div(class="tires-model__text-part")
                                        p() Ширина --------------------------185 мм
                                        p() Высота --------------------------- 65 %
                                        p() Диаметр ------------------------ 15″
                                        p() Сезон ----------------------------- Зимняя
                                        p() Модель --------------------------- X-ICE 3
                                        p() Индекс скорости ------------- T
                                        p() Run on flat ----------------------- Нет
                                        p() xl ------------------------------------ Да
                                        p() Тип ТС ---------------------------- Легковой
                                    div(class="tires-model__text-part")
                                        div(class="tires-model__availability")
                                            p(itemprop = "availability" href = "http://schema.org/InStock") в наличии  |  г. Ростов-на-Дону, ул. Доватора 157
                                            p(itemprop = "availability" href = "http://schema.org/InStock") в наличии  |  г. Ростов-на-Дону, ул. Доватора 157
                                            p(itemprop = "availability" href="http://schema.org/OutOfStock") нет наличии  |  г. Ростов-на-Дону, ул. Доватора 157
                                            p(itemprop = "availability" href = "http://schema.org/InStock") под заказ  |  г. Ростов-на-Дону, ул. Доватора 157
                                        div(class="tires-model__indirect")
                                            p(itemprop="sku") Артикул: 205711
                                            p() Модель: Michelin X-Ice
                                            p(class="tires-model__logo") Производитель: <img src="./imgs/logo/logo-manufacturer.png" alt="Michelin">
                        div(class="tires-model__warning")
                            svg(width="24" height="24" viewBox="0 0 24 24")
                                use(xlink:href="./imgs/icons/sprites.svg#warning")
                            div(class="tires-model__warning-text")
                                p() Цена указана при покупке от 4 шт. за наличный расчет.
                                p() Минимальный заказ 4 шт., меньшее количество можно приобрести только по согласованию с менеджером и 100% предоплате.
                                p() Остатки товара на складе меняются, о точном наличии товара и ценах уточняйте у менеджера.
                    include ./blocks/slider.pug
                    include ./blocks/brand-tires.pug
            include ./blocks/footer.pug
        form(class="modal-form")
            div(class="modal-form__window")
                div(class="modal-form__heading") Быстрый заказ
                    svg(class="modal__close" width="29" height="29" viewBox="0 0 29 29")
                        use(xlink:href="./imgs/icons/sprites.svg#close")
                div(class="modal-form__content")
                    h1(class="modal-form__tires-name") Зимние шины Michelin X-Ice North 4 195/65 R15 95T XL
                    div(class="calculator")
                        div(class="calculator__price") 6 460.70 руб.
                        ul(class="calculator__vars")
                            li(class="calculator__minus calculator__vars-item") -
                            li(class="calculator__quantity calculator__vars-item") 4шт
                            li(class="calculator__plus calculator__vars-item") +
                    div(class="modal-form__main-content")
                        ul(class="modal-form__inputs")
                            li(class="modal-form__inputs-item")
                                label(class="form__label") Имя:
                                input(class="form__input")
                            li(class="modal-form__inputs-item")
                                label(class="form__label") Телефон:
                                input(class="form__input")
                            li(class="modal-form__inputs-item")
                                label(class="form__label") Электронная почта:
                                input(class="form__input")
                        div(class="modal-form__img")
                            img(class="modal-form__img-tires" src="./imgs/tires/modal-tires.jpg")
                            button(class="modal-form__submit btn" type="submit") купить
        include ./blocks/modal-login.pug
        script(type="template" id="modalTemplate") 
            div(class="modal")
                div(class="modal__window")
                    div(class="modal__header")
                        div(class="modal__header-success")
                            svg(width="34" height="27" viewBox="0 0 34 27")
                                use(xlink:href="./imgs/icons/sprites.svg#modal-success")
                            h3(class="modal__heading") Успешно
                        div(class="modal__header-error")
                            svg(width="27" height="27" viewBox="0 0 27 27")
                                use(xlink:href="./imgs/icons/sprites.svg#modal-error")
                            h3(class="modal__heading") Внимание!
                    div(class="modal__message")
                        div(class="modal__message-text")
                        div(class="modal__btns")
                            button(class="btn btn-cancel modal__btn") Отмена
                            button(class="btn modal__btn") ок
        script(src="./scripts.min.js" type="text/javascript")
